name: Build CI Images

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  ruby:
    runs-on: [self-hosted, linux, x64]
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        ruby: ["3.3.5", "3.4.1"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ruby
          push: true
          build-args: RUBY_VERSION=${{ matrix.ruby }}
          tags: |
            ${{ env.REGISTRY }}/kaiserlich-dev/ci-images/ruby:${{ matrix.ruby }}
